@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto';
}

.menu{
    margin: 36.1px 0 0 231px;
    font-size: 16px;
    color: #111111;
}

.menu a{ 
    margin-right: 30px;
    text-decoration: none;
    color: #111111;
}

#logo{
    margin-right: 122px;
}

.activeItem{
    font-weight: bold;
}



.descricao{
    margin: 30px 230px;
    height: 366px;
    background: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    padding-top:117px;
    padding-left: 60px;
    position: relative;
}

.descricao p{
    margin-top: 10px;
    max-width: 316px;
    max-height: 84px;
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.descricao img{
    position: absolute;
    right: 100px;
    top: 60px;
    max-width: 216px;
    max-height: 300px;
}


/* CARD */

#maisAcessadas{
    position: relative;
    margin: 50px 230px 20px 230px ;
}
.cards{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}

.card{
    border-radius: 30px;
    padding: 30px 0;
}

.card img{
    border-radius: 15px;
    max-width: 300px;
    max-height: 140px;
    min-width: 150px;
    min-height:70px ;
}
.card h3{
    font-size: 18px;
    padding:10px 5px 5px 0;
}
.card p{
    font-size: 14px;
    color: #777777;
}

footer{
    background-color: #EEEEEE;
    height: 62px;
}

footer p{
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 23px;
}

/* MODAL */

.modal-overlay{
    background-color: rgba(0, 0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 20vh auto;
    position: relative;
    text-align: center;
    border-radius: 16px;
}

.modal .close-modal{
    color: black;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}

.modal img{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin:30px 30px 20px 30px
}

.modal h3{
    font-size: 24px;
    color: #111111;
    margin: 5px auto;
}

.modal p{
    font-size: 18px;
    margin: 5px auto;
    color: #777777;
}

/* MODAL ACTIVE */

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}


/* SOBRE */
.contentSobre {
    margin:50px 230px ;
}
.contentSobre h2{
    font-size: 24px;
    color: #111111;
    margin: 0 0 20px 0;
}

.contentSobre p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;

}

.contentSobre .h2_20px{
    margin: 30px 0 20px 0;
    font-size: 20px;
    color: #111111;   
}

/* RECEITAS */

.content_receitas{
    margin:50px 230px;
}